*{
    box-sizing: border-box;
}
@font-face {
    font-family: "UniNeue";
    src: url("../fonts/UniNeueRegular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueBold";
    src: url("../fonts/UniNeueBold.ttf");
    font-style: normal;
    font-weight: bold;
}
body{
    background-image: url(../img/Форма.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f8fbfc;
    margin: 0;
    font-family:"UniNeue";
}

.logotipe{
    margin-right: 35px;
    height: 75px;
    width: 170px;
}
a{
    text-decoration: none;
    color: #282728;
}
.logo-text{
    font-size: 13px;
    color: #282728;
    transition: 0.3s;
}
.logo-text:hover{
    color:rgba(214, 160, 58, 0.904)
}
.loc-text{
    transition: 0.3s;
}
.loc-text:hover{
    color:rgba(214, 160, 58, 0.904)
}
span.bold{
    font-family:"UniNeueBold" ;
}
.map{
    margin-right: 17px;
}
.button{
    text-decoration: none;
    display: inline-block;
    border:none;
    transition: 0.3s;
}
.button-Kons{
    font-family:"UniNeueBold" ;
    font-size: 16px;
    border-radius: 5px;
    background: #313d4b;
    color:white;
    padding: 27px 30px 27px 30px;
}
.button-Kons:hover{
    background: #506b8b;
}
.numb{
    font-family:"UniNeueBold" ;
    transition: 0.2s;
}
.numb:hover{
    color:rgba(214, 160, 58, 0.904)
}
.icons{
    margin-top: 11px;
    transition: 0.3s;
}
.icon-link:not(:last-child){
    margin-right: 7px;
}
.icon{
    transition: 0.3s;
}
.icon:hover{
    transform: translateY(-4px)
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu-item:not(:last-child){
    margin-right:20px;
}
.menu-link{
    color: #3f3f40;
    text-decoration: none;
    text-transform: uppercase; 
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s;
}
.menu-link:hover{
    color:rgba(214, 160, 58, 0.904)
}
.main-title{
    font-size: 50px;
    line-height: 68px;
    color:#282728;
}
.skills{
    margin-top: 50px;
    display: flex;
}
.skill-item{
    display: flex;
    font-size: 16px;
}
.skill-item:not(:last-child){
    margin-right:20px;
}

.bnum{
    font-size: 60px;
    font-weight: bold;
    margin-right: 15px;
}
.skill-logo{
    height: 22px;
    width: 22px;
}
.payment{
    padding-right: 50px;
}
.payment-text{
    margin-bottom: 20px;
    padding-left: 15px;
}
.btn-payment{
    background: rgba(254,124,85,1);
    background: -moz-linear-gradient(top, rgba(254,124,85,1) 0%, rgba(241,111,92,1) 0%, rgba(254,90,85,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,124,85,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(100%, rgba(254,90,85,1)));
    background: -webkit-linear-gradient(top, rgba(254,124,85,1) 0%, rgba(241,111,92,1) 0%, rgba(254,90,85,1) 100%);
    background: -o-linear-gradient(top, rgba(254,124,85,1) 0%, rgba(241,111,92,1) 0%, rgba(254,90,85,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,124,85,1) 0%, rgba(241,111,92,1) 0%, rgba(254,90,85,1) 100%);
    background: linear-gradient(to bottom, rgba(254,124,85,1) 0%, rgba(241,111,92,1) 0%, rgba(254,90,85,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7c55', endColorstr='#fe5a55', GradientType=0 );
    display: flex;
}
.btn-payment:hover{
    transform: translateY(-4px);
}
.calc{
    vertical-align: middle;
    margin-left: 20px;
}
.btn-text{
    vertical-align: middle;
    color:white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    text-transform: uppercase; 

}
.patent{
    margin-left: 100px;
}
.btn-payment{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -4px #e83e3e;
}
.pt{
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.patent{
margin-left: 30px;
min-width: 0;
}
.patent-text{
    padding-left: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
.slider{
    min-width: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.slick-track{
    display:flex;
}
.slick-list{
    overflow: hidden;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    height: 30px;
    width: 20px;
    border:none;
    margin: -10px 0 0 0;
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('../img/prev.png') 0 0 no-repeat;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url('../img/next.png') 0 0 no-repeat;
}

@media(max-width:1200px){
    .menu-link{
        font-size: 12px;
    }
    .button-Kons{
        padding: 10px 10px 10px 10px;
        font-size: 12px;
        display: block;
    }
}
@media(max-width:992px){
    .logo, .logo-text, .map,.loc-text, .button-Kons, .tel, .icons{
       display:none;
    }
   .menu-btn{
       width: 20px;
       height: 30px;
   }
   .menu{
    white-space: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
   .menu-item{
      margin-right: 0;
   }

}
@media(max-width:768px){
    .btn-text{
        display: none;
    }
    .btn-payment{
        width: 100%;
    }
}
@media(max-width:576px){
    .sertif{
        width: 50px;
        height: 100%;
    }
}




